@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto" !important;
  font-weight: 600;

}

section {
  @apply w-full h-full p-8
}

.product_container {
  @apply grid grid-cols-4 gap-5
}

.products_left_panel, .header_left_panel {
  @apply xl:col-span-1 xs:col-span-4
}

.products_right_panel, .header_right_panel {
  @apply xl:col-span-3 xs:col-span-4
}
